.messagesLayout{
    margin-top: 80px;
    margin-bottom: 85px;
}

.messagesLayout__header{
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.messagesLayout__messageList{
    overflow-y: scroll;
    height: calc(100vh - 165px);
}

.messagesLayout__message:first-child{
    padding-top: 20px;
}

.messagesLayout__textInput{
    background: white;
    min-height: 85px;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.09)
}
