.listItem {
  width: 100%;
  height: 70px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 0.5em;
}
.listItem .listItem__leftInfo {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.listItem .listItem__leftInfo .listItem__leftInfo__avatar {
  height: 36px;
  width: 36px;
  min-width: 36px;
  border-radius: 50%;
  background: #f00;
  margin: 0 15px;
}
.listItem .listItem__leftInfo .listItem__leftInfo__userInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 70%;
}
.listItem .listItem__leftInfo .listItem__leftInfo__userInfo .listItem__leftInfo__userInfo__name {
  font-family: Roboto;
  font-size: 14px;
  line-height: 19px;
  color: #46454c;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listItem .listItem__leftInfo .listItem__leftInfo__userInfo .listItem__leftInfo__userInfo__lastMessage {
  font-family: Roboto;
  font-size: 14px;
  color: #000;
  line-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listItem .listItem__newMessages {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}
.listItem .listItem__newMessages .listItem__newMessages__date {
  font-family: Roboto;
  font-size: 12px;
  color: #f25a41;
}
.listItem .listItem__newMessages .listItem__newMessages__quantity {
  height: 22px;
  width: 22px;
  background: #f25a41;
  border-radius: 50%;
  font-family: Roboto;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  margin: 0.5em;
}
