.balloon {
    max-width: 233px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    background: #f25a41;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.balloon__content {
    max-width: 197px;
    margin: 0 0 5px;
    font-size: 14px;
    color: #FFFFFF;
    word-wrap: break-word;
}

.styleballoon {
    background: #fff;
}

.styleballoon .balloon__content {
    color: #46454C;
}

.styleballoon .data-message {
    color: #f25a41;
}

.mess-author{
    padding-bottom: 1em;
}
