

.App {
  display: flex;
  flex-direction: column;  
  height: 100vh;
}

.app-header {
  height: 12vh;
  width: 100%;
  background-color: lightseagreen;
}

.app-content {
  width: 100%;
  height: 100%;  
}

