.login-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.login-layout__logo {
    width: 100%;
    height: 25vh;
}

.login-form {
    display: flex;
    justify-content: space-around;
    flex-basis: 3;
    flex-direction: column;
    font-size: 1.1em;
    height: 55vh;
}

.login-layout__footer {
    height: 20vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.login-layout-footer__social-block {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.login-layout-footer__sign-up-btn {
    width: 55%;
}

.login-layout__logo-img {
    display: block;
    width: 90%;
    margin: -20px auto;
}


