.CreateRoomHeader{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 1em 2em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 1em;
}

.header h2{
    margin-top: 0;
}

.button{
    align-self: center;
}
