.login-form__input-field {
    width: 66.7%;
    height: 3em;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 13px 25px 0 rgba(0,0,0,0.12);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login-form__input-field__input {
    border: none;
    outline: none;
    height: 100%;
    width: 70%;

    display: flex;
    align-items: center;
    font-size: 1em;
    background-color: transparent;
}

.login-form__input-field__logo {
    margin-right: 10px;
}