.avatar__img__small{
     width: 36px;
     height: 36px;
}

.avatar__img__medium{
    width: 46px;
    height: 46px;
}

.avatar__img__large{
    width: 119px;
    height: 119px;
}

.avatar__img__small,
.avatar__img__medium,
.avatar__img__large{
    background: white;
    overflow: hidden;
}

.avatar__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    image-rendering: optimizeSpeed;
}