<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Roboto');
=======
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
>>>>>>> Создал плашку для ввода сообщений

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
